<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/javascripts/controller/baseController.js"></script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <style>

    </style>
    <script type="text/javascript">
        function search(){
             var content = $("#content").val();
             var pid = $("#pid").val();
             var query = {FILTER_LIKE_c:content,FILTER_EQ_pid:pid};
             $("#table").datagrid("options").queryParams = query;
             $("#table").datagrid("reload");
        }
        function showAll(){
            $("#content").val("");
            $("#pid").val("");
            $("#table").datagrid("options").queryParams = {};
            $("#table").datagrid("reload");
        }
    </script>
</head>
<body>
<table class="tab">
    <tr>
        <td align="center" class="bg06" width="15%">
            <span class="zi5">快速搜索:</span>
        </td>
        <td class="bg05">
            <table class="table-list-form">
                <tr>
                    <td align="right">
                        <span>场景ID</span>
                    </td>
                    <td >
                        <input  type="text"  name="FILTER_EQ_pid" id="pid" height="15px;" value=""/>
                    </td>
                    <td align="right" >
                        <span>内容</span>
                    </td>
                    <td>
                        <input  type="text"  name="FILTER_LIKE_c" id="content" height="15px;" value=""/>
                    </td>

                    <td rowspan="2" align="center" style="padding-left:20px;padding-right: 20px;">
                        <a id="btn" href="javascript:search()"  class="easyui-linkbutton"
                           data-options="iconCls:'icon-search'">搜索</a>
                        <a id="" href="javascript:showAll()"  class="easyui-linkbutton"
                           data-options="iconCls:''">显示所有</a>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>
<div style="margin:10px 0;"></div>
<table id="table"></table>

<div id="tb" style="height:auto">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="openDialog('/advert/add')">添加</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="toUpdate('/advert/update')">修改</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true" onclick="toDelete('/advert/delete')">删除</a>
</div>
<div>
    <%include dialog.html %>
</div>
<script type="text/javascript">
    $('#table').datagrid({
        url:'/advert/list',
        striped : true,
        fitColumns : true,
        autoRowHeight : true,
        pagination : true,
        nowrap : false,
        toolbar : "#tb",
        rowStyler : function(index,row){
            if(index>0){
                return "heiht:100px;"
            }
        },
        columns:[[
            {field:"check",checkbox : true,width:60},
            {field:"id",title:"ID",width:100},
            {field:'username',title:'用户名',width:50},
            {field:'pid',title:'场景ID',width:150},
            {field:'photo',title:'预览图',width:70,formatter : function(value,row,index){
                var img = "<img src='/advert/photo/"+value+"' style='width:120px;height:120px;padding-top:3px;'>";
                return img;
            }},
            {field:'content',title:'内容',width:300}
        ]]
    });
</script>
</body>
</html>